/*
    css for main website things such as the body, main container, side bar, etc are lines 11-40
    css for the drop down menus are lines 45-86

    */

.Header {
    text-align: center;
    background-color: #333; /*Incase the background image doesn't display*/
    color: #B5B5B5;
    background-image: url(Pictures/background.png);
    font-size: 1.6em;
    font-family: Calibri;
    padding-top: 35px;
}

.Header img {
    margin-right: 20px;
}

body {
    background-color: #B5B5B5;
    color: #333;
    margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
    font-size: 100%;
    font-family: Calibri;
}


a {
   text-decoration: none; /* no underline */
   font-size: 1em;
   font-family: Calibri;
   color: inherit;
}

a:hover {
   color:  #FCC336;
   font-size: 1em;
}

#NavigationBar {
    padding-bottom: 20px; /* makes the menu farther from bottom of the div*/
    margin-bottom: 10px; /* makes the start of the blog farther form the beginning of the Updates div*/
    font-family: Calibri;
}

#Updates {
    float: left;
    width: 60%;
    height: 100%;
    margin-left: 8%;
    padding-right: 15px; /* The space between the blog posts and SideBar */
    font-size: 1.2em;
    font-family: Calibri;
    word-wrap: break-word;
    overflow: auto;
}

#Updates iframe {
    float: left;
    margin-right: 12px;
}

#SideBar {
    float: left;
    width: 22%;
    height: 100%;
    margin-right: auto;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 1.1em;
    font-family: Calibri;
}

table {
    margin-bottom: 35px;
    margin-left: 10%;
}


.twitter-timeline {
    margin-bottom: 35px;
}
